
screens/__MACOSX/video/._spotify-height.mp4

screens/__MACOSX/video/._spotify-hover.mp4

screens/__MACOSX/video/._spotify-responsive.mp4

screens/spotify-height-350.png

screens/spotify-lg.png

screens/spotify-md.png

screens/spotify-s.png

screens/spotify-xs.png

screens/video-spotify.zip

screens/video/spotify-height.mp4

screens/video/spotify-hover.mp4

screens/video/spotify-responsive.mp4
